// $background: #fff;
// $background2:#d7d2d0;
// $background3:#525251;
// $primary:#fd4c2a;
// $text:#050504;

// background: #fff,
$background:#fff;;
$background-2:#d7d2d0;
$text: #050504;
$primary: #fd4e2b;
$primary-2: hsl(10, 98%, 60%);
$primary-3: hsl(10, 98%, 48%);
$red: #f65d46;
$blue: hsl(217, 100%, 50%);
$green:#7ef646;